<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>tripidee.com</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>Tripidee Button</string>
	<key>CFBundleIdentifier</key>
	<string>com.tripidee.safariextension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleVersion</key>
	<string>1.7.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>CreateStop</string>
				<key>Identifier</key>
				<string>tripidee</string>
				<key>Image</key>
				<string>icon-48.png</string>
				<key>Label</key>
				<string>Tripidee Button</string>
				<key>Tool Tip</key>
				<string>Add To Tripidee</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
				<string>getimages.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>getimages.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>This extension allows you to quickly add to your Tripidee trips.</string>
	<key>DeveloperIdentifier</key>
	<string>Z584MLZC4J</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://www.tripidee.com</string>
</dict>
</plist>
